# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary/Hidden Pages
src/pages/Stuff.jsx
src/pages/Stuff.css
src/pages/Images.jsx
src/pages/Images.css

# Archives
.day4_archive/

# Sensitive Data
src/data/quizzes.json
